/* ----------------------------------------- */

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
}
.aft{
    font-family: "Funnel Sans", serif;
}
h1{
    font-family: "Funnel Sans", serif;
}
p{
    font-family: "Funnel Sans", serif;
    font-weight: 100;
}
/* ----------------------------------------- */


.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    align-content: center;
    margin-top: 1vh;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.logo img {
    width: 100px;
}

.items {
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.logo {
    padding: 10px;
    font-family: "Funnel Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.item4 {
    background-color: white;
    border: 1.3px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.item4:hover {
    background-color: blueviolet;
    color: white;
    transition: all 0.3s ease-in-out;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 1); */
    color: #91c3ff;
}
.item4:hover a,
.item5:active a{
    color: white;
}
.item5 {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);

    background-color: blueviolet;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.item5:hover,
.item5:active {
    background-color: white;
    color: black;
    transition: 0.3s ease-in;
}

.item5 a {
    color: white;
}

.item5:hover a,
.item5:active a {
    color: black;
}

.item1:hover,
.item2:hover,
.item3:hover {
    border-bottom: 1px solid blueviolet;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-origin: right;
    box-shadow: 0 2px 2px -2px gray;
}


@media(max-width:600px) {

    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .logo {
        margin-top: 50px;

        padding: 15px;
        font-size: 30px;
    }

    .navbar {
        /* flex-direction: column; */
        align-items: center;
        padding: 10px;
    }
    
    .item1,
    .item2,
    .item3,
    .item4,
    .item5,.logo{
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ------------------------------------------------------- */

.contant {
    max-width: 90%;
    margin: auto;
    display: flex;
    margin-top: 100px;
    gap: 10px;
}

.heading button {
    padding: 10px;
    outline: none;
    border-radius: 10px 0 10px 0;
    font-size: 20px;
    margin-top: 11rem;
    margin-left: 10rem;
    cursor: pointer;
    border: none;
    background: rgb(173, 54, 255);
    background: linear-gradient(90deg, rgba(173, 54, 255, 1) 1%, rgba(176, 0, 255, 1) 100%);
    color: white;
    font-family: "Funnel Sans", serif;
    font-weight: 500;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.heading:hover button:hover {
    background: rgb(73, 34, 98);
    background: linear-gradient(90deg, rgb(138, 70, 184) 1%, rgb(153, 18, 221) 100%);
    transition: background-color 0.2s ease-in;
}

.contant img {
    width: 350px;
    height: 250px;
    border-radius: 32px 5px 32px 5px;
}

.imgc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    margin: auto;
}

.imgc img {
    border-radius: 32px;
    object-fit: cover;
    width: 350px;
    height: 250px;
}

.contant .big {
    height: 500px;
    width: 300px;
    object-fit: cover;
}

@media (max-width: 1423px) {
    .contant {
        flex-direction: column;
        align-items: center;
    }

    .heading button {
        font-size: 18px;
        margin-top: 5rem;
        margin-left: 0;
    }

    .contant img,
    .contant .big {
        width: 100%;
        height: auto;
    }

    .contant .big {
        margin-top: 3rem;
        max-width: 645px;
    }
}

@media (max-width: 768px) {
    .heading button {
        font-size: 16px;
        margin-top: 3rem;
        margin-left: 0;
    }

    .contant img,
    .contant .big {
        width: 100%;
        height: auto;
    }

    .contant .big {
        margin-top: 2rem;
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    .heading button {
        font-size: 14px;
        margin-top: 2rem;
        margin-left: 0;
    }

    .contant img,
    .contant .big {
        width: 100%;
        height: auto;
    }

    .contant .big {
        margin-top: 1rem;
        max-width: 300px;
    }
}

/* ------------------------------------------------------- */


hr {
    max-width: 80%;
    margin: 5rem auto 0 auto;
    opacity: 40%;
}


/* ------------------------------------------------------- */

.box {
    background-image: linear-gradient(to right top, #c1dee8, #9ed3f6, #91c3ff, #a5acff, #ce8cfb);
    padding: 6rem;
    text-align: center;
    margin-top: 3rem;
    font-size: 40px;
}

@media (max-width: 999px) {
    .box {
        padding: 4rem;
    }
    .box h1 {
        font-size: 70px;
    }
}

@media (max-width: 914px) {
    .box {
        padding: 3rem;
    }
    .box h1 {
        font-size: 50px;
    }
}

@media (max-width: 734px) {
    .box {
        padding: 2rem;
    }
    .box h1 {
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .box {
        padding: 1rem;
    }
    .box h1 {
        font-size: 30px;
    }
}

/* ------------------------------------------------------- */


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.044);
    padding: 60px;
}

.card1,
.card2,
.card3 {
    width: 300px;
    height: 200px;
    padding: 40px;
    background-image: linear-gradient(to right top, #e8e7c1, #ebe8af, #efe99d, #f3e98a, #f8e976);
    border-radius: 15px;
}

.card2 {
    background-image: linear-gradient(to right top, #e8c1e0, #ebb6e5, #edaaea, #ec9ff1, #ea94f9);
}

.card3 {
    background-image: linear-gradient(to right top, #dbb3fd, #d9abfc, #d7a4fb, #d59cfa, #d394f9);
}

.card1 p,
.card2 p,
.card3 p {
    font-size: 19px;
}

@media (max-width: 1357px) {
    .card1 p,
    .card2 p,
    .card3 p {
        margin-top: 70px;
        font-size: 30px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .card1,
    .card2,
    .card3 {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 919px) {
    .card1 p,
    .card2 p,
    .card3 p {
        margin-top: 30px;
        font-size: 20px;
    }

    .card1,
    .card2,
    .card3 {
        width: 100%;
        height: auto;
    }
}


/* ------------------------------------------------------------------------------ */


.feature-box {
    background-color: rgba(0, 0, 0, 0.044); 
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
    align-items: center;
}

.feature {
    display: flex;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.feature p {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.feature1,
.feature2 {
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 30px;
    width: 330px;
    height: 330px;
    cursor: pointer;
    box-shadow: 5px 5px 0px rgba(173, 54, 255, 1);
}

.feature1 {
    background-color: #d394f9;
}

.feature2 {
    background-color: #dcd2a6;
}

.feature1:hover,
.feature2:hover {
    background-color: white;
    transition: background-color 0.2s ease-in;
}

@media (max-width: 768px) {
    .feature1,
    .feature2 {
        width: 100%;
        height: auto;
    }
}


/* ------------------------------------------------------------------------- */

.privacy {
    padding: 100px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5rem;
}

.privacy,
.privitem,
.privimg {
    gap: 5rem;
    margin: 2rem 4rem 2rem 4rem;
}

.privacy img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.privitem li {
    font-family: "Funnel Sans", serif;
    text-decoration: double;
    font-size: medium;
}

@media (max-width:1384px) {

    .privacy {
        display: flex;
        flex-direction: column;
    }

    .privacy img {
        width: 600px;
        height: 600px;
        object-fit: cover;
        border-radius: 10px;
    }

    .privacy,
    .privitem,
    .privimg {
        gap: 5rem;
        margin: auto;
        align-items: center;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

/* --------------------------------------------------------------------------- */


.footer {
    margin-top: 5rem;
    display: flex;
    background-color: rgb(16, 5, 49);
    color: white;
    padding: 20px;
    text-align: center;
    gap: 15rem;
    justify-content: center;
    flex-wrap: wrap;
}

.fitem1,
.fitem2,
.fitem3,
.fitem4 {
    color: rgba(255, 255, 255, 0.445);
    padding: 5px;
    margin-top: 5rem;
    text-align: left;
    flex: 1 1 200px;
}

.fitem1 p,
.fitem2 p,
.fitem3 p,
.fitem4 p {
    padding: 5px;
    cursor: pointer;
}

#about,
#sales,
#event,
#follow {
    cursor: auto;
    margin-bottom: 1rem;
    color: white;
    font-size: 20px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .fitem1,
    .fitem2,
    .fitem3,
    .fitem4 {
        margin-top: 2rem;
        text-align: center;
    }
}



/* -------------------login form -------------------------- */  


.logcont {
    display: grid;
    grid-template-columns: 34% 66%;
    height: 100vh;
}

.logcont1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content:baseline;
    padding: 50px;
}
.logcont1 h1{
    font-size: 50px;
    margin-top: 5rem;
    margin-bottom: 5px;
    text-align: center;
}
.logcont1 p{
    margin-bottom: 5rem;
    text-align: center;
    color: rgb(125, 122, 122);
}

.logcont2{
    background-image: url(img/loginform.jpg);
    background-color: yellowgreen;
    background-size: cover;
    background-position: center;
    opacity: 90%;
    
}
input[type="email"], input[type="password"] {
    outline: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

label {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}
form #formbtn1{
    background-color: blueviolet;
    color: white;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
form #formbtn1:hover{
    background-color: rgb(93, 41, 142);
    transition: all 0.2s ease-in;
}
form #formbtn2{
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
form #formbtn2:hover{
    background-color: rgb(93, 41, 142);
    color: white;
    transition: all 0.2s ease-in;
}
.logcont2 {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    color: black;
    padding: 20px;
}

.logcont2 h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.logcont2 p {
    font-size: 1.2em;
    line-height: 1.5;
}
.logcont2 h1,.logcont2 p{
    margin: 10px 10px 10px 10px;
}
/* --------------or----------- */
.divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.divider span {
  white-space: nowrap;
  color: #2c2c2c; /* Adjust color as needed */
  font-weight: bold;
}
/* ------------------------------- */

@media(max-width:1100px){
    .logcont {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100vh;
        transition: all 0.5s ease-in;
    }
}
@media(max-width:900px){
    .logcont {
        display: grid;
        grid-template-columns: 100%;
        height: 100vh;
        transition: all 0.5s ease-in;
    }
}

/* ------------------------------log in form end ------------------------------------- */